@use "utils/_mixins" as mh;

.gallery {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mh.adaptiv-value("padding", 16, 12, 0);
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    @include mh.adaptiv-value("font-size", 20, 14, 0);
    font-weight: 400;
    line-height: 28px;
    color: rgb(113, 113, 130);
    text-align: center;
  }
}
.tab-nav {
  display: flex;
  gap: 15px;
  align-self: center;
}
.tab-btn {
  padding: 16px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 79, 62, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 24px;

  &:hover {
    background-color: rgba(47, 79, 62, 0.85);
    box-shadow: 1px 5px 8px rgba(47, 79, 62, 0.4);
  }
}
.tab-btn-active {
  background-color: rgba(47, 79, 62, 0.95);
  box-shadow: 1px 5px 8px rgba(47, 79, 62, 0.5);
}
.tab-content {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // gap: 24px;

  &#clinic {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @include mh.adaptiv-value("gap", 24, 12, 0);
  }

  &#result {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    @include mh.adaptiv-value("gap", 24, 12, 0);

    @media (max-width: 425px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(47, 79, 62, 0.2) 0px 8px 32px 0px;
    border-radius: 24px;
  }

  &__item-img {
    width: 100%;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &__item-descr {
    @include mh.adaptiv-value("font-size", 16, 14, 0);
  }

  &__item-image {
    display: flex;
    @include mh.adaptiv-value("gap", 10, 5, 0);
    width: 100%;

    img {
      display: block;
      aspect-ratio: 3 / 2;
      flex: 1 1 50%;
      max-width: calc(50% - 5px);
      object-fit: cover;
      border-radius: 24px;
    }
  }

  &__item-title {
    font-weight: 600;
  }
}
