@use "utils/_mixins" as mh;

.testimornials {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mh.adaptiv-value("padding", 16, 12, 0);
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    @include mh.adaptiv-value("font-size", 20, 14, 0);
    font-weight: 400;
    line-height: 28px;
    color: rgb(113, 113, 130);
    text-align: center;
  }
}
.swiper {
}
.swiper-wrapper {
  height: max-content;
  @include mh.adaptiv-value("padding", 24, 6, 0);
}
.swiper-slide {
  @include mh.adaptiv-value("width", 405, 280, 0);
  // width: 405px;
  height: max-content;
  @include mh.adaptiv-value("padding", 24, 12, 0);
  // padding: 24px;
  border-radius: 24px;
  color: rgb(47, 79, 62);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px soloid rgba(255, 255, 255, 0.5);
  box-shadow: rgba(47, 79, 62, 0.2) 0px 8px 32px 0px;
  z-index: 10;
}
.testimornial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__row {
    display: flex;
    gap: 20px;
    img {
      width: 48px;
      border-radius: 50%;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
      font-weight: 800;
    }

    p {
      font-weight: 600;
    }
  }

  &__rating {
  }

  &__text {
    text-align: justify;
    text-justify: auto;
    line-height: 1.2;
  }

  &__date {
    font-weight: 500;
  }
}
.swiper-pagination {
  // width: 100px !important;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(47, 79, 62, 0.8);
}
.swiper-button-prev {
  color: rgba(47, 79, 62, 0.3);

  &:hover {
    color: rgba(47, 79, 62, 0.5);
  }
}
.swiper-button-next {
  color: rgba(47, 79, 62, 0.3);

  &:hover {
    color: rgba(47, 79, 62, 0.5);
  }
}
.swiper-scrollbar {
}
