//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mSt;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_hero.scss";
@use "blocks/_services.scss";
@use "blocks/_gallery.scss";
@use "blocks/_doctors.scss";
@use "blocks/_testimornials.scss";
@use "blocks/_faq.scss";
@use "blocks/_contact.scss";
@use "blocks/_pages.scss";
@use "blocks/_appointment.scss";
@use "blocks/_footer.scss";

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1280px;
  margin: 0 auto;
}

.anchor {
  @include mSt.adaptiv-value("height", 75, 25, 0);
}

p {
  @include mSt.adaptiv-value("font-size", 16, 14, 0);
}

h1 {
  @include mSt.adaptiv-value("font-size", 60, 40, 0);
  color: #ffffff;
}

h2 {
  @include mSt.adaptiv-value("font-size", 48, 36, 0);
  color: rgb(47, 79, 62);
}

h3 {
  @include mSt.adaptiv-value("font-size", 24, 18, 0);
  color: rgb(47, 79, 62);
}

h4 {
  @include mSt.adaptiv-value("font-size", 20, 15, 0);
  color: rgb(47, 79, 62);
}

.h4 {
  @include mSt.adaptiv-value("font-size", 20, 15, 0);
  color: rgb(47, 79, 62);
}

h5 {
  @include mSt.adaptiv-value("font-size", 16, 12, 0);
  color: rgb(47, 79, 62);
}

.h5 {
  @include mSt.adaptiv-value("font-size", 16, 12, 0);
  color: rgb(47, 79, 62);
}

.btn {
  @include mSt.adaptiv-value("font-size", 16, 12, 0);
  font-size: 16px;
  // color: #3a5848;
}

.breadcrumbs {
  &__container {
    padding: 10px;
    ul {
      display: flex;

    }
    li{
      padding-left: 5px;
      &:nth-child(5){
        padding-left: 10px;
        font-weight: 800;
      }
    }
  }
}

.open {
  display: flex !important;
}
