//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mSt;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_hero.scss";
@use "blocks/_services.scss";
@use "blocks/_footer.scss";

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #F8F9FA;
  height: 2000px;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

.anchor{
  height: 75px;
}

h1 {
  @include mSt.adaptiv-value("font-size", 60, 40, 0);
  color: #ffffff;
}

h2 {
  @include mSt.adaptiv-value("font-size", 48, 36, 0);
  color: rgb(47, 79, 62);
}

h3 {
  @include mSt.adaptiv-value("font-size", 24, 12, 0);
  font-size: 24px;
  color: rgb(47, 79, 62);
}

h4 {
  @include mSt.adaptiv-value("font-size", 20, 12, 0);
  font-size: 20px;
  color: rgb(47, 79, 62);
}

h5 {
  @include mSt.adaptiv-value("font-size", 16, 12, 0);
  font-size: 16px;
  color: rgb(47, 79, 62);
}

btn {
  @include mSt.adaptiv-value("font-size", 16, 12, 0);
  font-size: 16px;
  color: #3a5848;
}


.open {
  display: flex !important;
}